{% extends 'base.html'%}
<body>
    {% block content %}
    <form method="POST" action="/update/{{ employee.id }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="employeeId">EmployeeId:</label>
            <input type="text" class="form-control" id="employee" name="eid" value="{{employee.eid }}">
        </div>
        <div class="form-group">
            <label for="fullname">Fullname:</label>
            <input type="text" class="form-control" id="name" name="fullname" value="{{ employee.fullname }}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ employee.email }}">
        </div>
        <div class="form-group">
            <label for="contact">Password:</label>
            <input type="text" class="form-control" id="contact" name="contact" value="{{ employee.contact }}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
{% endblock %}
</body>