{% extends 'base.html'%}
{% block content %}
<form method="post" action="/add">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
            <h3>Enter Employee Details</h3>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">EmployeeId:</label>
        <div class="col-sm-4">
            {{ form.eid }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
            {{ form.fullname}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Contact:</label>
        <div class="col-sm-4">
            {{ form.contact }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{% endblock %}