{% extends 'base.html'%}
<body>
    {% block content %}
<table class="table table-striped" style="margin-top: 5em;">
  <!--   <form method="POST" action="/search">
        {% csrf_token %}
        <td>
            <td><input type="text" name="name"></td>
            <td><button type="submit">search</button></td>
        </td>
    </form>
 -->
    <tr>
        <th>ID</th>
        <th>MID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for i in employee%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.eid}}</td>
        <td>{{i.fullname}}</td>
        <td>{{i.email}}</td>
        <td>{{i.contact}}</td>
        <td><a href="/edit/{{ i.id }}" class="btn btn-outline-success btn-sm">Edit</a></td>
        <td><a href="/delete/{{ i.id }}" class="btn btn-outline-danger btn-sm">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
